* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f0f0e;
}

main {
  max-width: 1500px;
  margin: 5rem auto;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  background-size: cover;
  display: block;
}

.container img {
  object-fit: cover;
}
/*Produkt billeder*/

header {
  padding: 1rem;
  background-color: #0f0f0e;
  position: sticky;
  top: 0%;
  z-index: 1000;
}
footer {
  background-color: #0f0f0e;
  padding: 2rem;
}
.ikoner {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-around;

  color: #fff;
}

.logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: 250ms ease-in-out;
}

path {
  transition: 250ms ease-in-out;
}

.logo svg {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0;
  padding: 0;
}
.logo svg:hover path {
  fill: #f29c2b;
  stroke: #f29c2b;
}

.logo h3 {
  color: white;
}

li {
  list-style: none;
}

body {
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-position: 51% 71%;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.outdoor_content {
  border-radius: 0.5rem;
  transition: 0.5ms ease-in;
}

.width {
  margin: 1rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.787),
    rgba(131, 165, 148, 0.726)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.filter_nav {
  padding: 1rem;
}

.front h1 {
  grid-area: 2/1;
}
.front a {
  grid-area: 3/1;
  border-bottom: 0.25rem solid white;
  margin-bottom: 5rem;
  transition: 250ms ease-in-out;
}
.front a:hover {
  color: #f29c2b;
  border-bottom: 0.25rem solid #f29c2b;
}

.front {
  margin: 12.5rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.container,
.container_forside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.outdoor_content,
#right_article,
#left_article {
  padding: 2rem;
  transition: 500ms ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;
}

.outdoor_content:hover,
#right_article:hover,
#left_article:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  color: #fff;
  font-size: 10rem;
  font-family: "Bebas Neue", cursive;

  transition: 250ms ease-in-out;
  word-wrap: break-word;
  width: min-content;
  line-height: 8.5rem;
}

h2 {
  text-align: center;
  margin: 1.5rem;
  font-size: 3.2rem;
  font-family: "Bebas Neue", cursive;
  color: white;
}
h3 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;

  color: #0f0f0e;
}

footer p {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 1.2rem 0;
}

.single_h2 {
  color: #0f0f0e;
  text-shadow: none;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  gap: 1rem;
  margin: 0.5rem 0;
}

button {
  background: none;
  border: none;
  color: #fff;
  padding: 0.2rem 0.4rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  transition: 250ms ease-in-out;

  background-color: #f29c2b;
  font-family: "Bebas Neue";
  cursor: pointer;
  border-radius: 0.2rem;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.349) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav button {
  font-size: 2rem;
}

.logo_nav {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.valgt {
  background-color: white;

  color: #f29c2b;
}

.mad_img {
  border-radius: 0.5rem;
}

#popup_section {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  nav button {
    outline: none;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }

  footer p {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 800px) {
  .container {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .front {
    display: block;
    margin: 12.5rem 2rem;
  }

  .container_forside {
    display: block;
  }
}
/* *************************** Om side *************************** */
.omSide section {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.img_left_article {
  gap: 15px;
  padding: 5px;
  margin: 10px;
}
.textLeftArticle {
  gap: 15px;
  padding: 5px;
  margin: 10px;
}

/* .omSide img {
  max-width: 50vw;
  height: auto;
  /* border-radius: 30px; 
}
 .omSide p,
h3,
img {
  padding: 5px;
}  */

@media (min-width: 800px) {
  /* Knap størrelse i desktop */
  nav button {
    font-size: 2rem;
  }

  .logo svg {
    width: 3rem;
    height: 3rem;
  }

  header {
    padding: 1.2rem;
  }

  .img_left_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    padding: 1em;
    margin: 3em;
  }
  .img_left {
    grid-column: 1/2;
  }
  .text_right {
    grid-column: 2/3;
  }
  .text_left_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    padding: 1em;
    margin: 3em;
  }
  .text_left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .img_right {
    grid-column: 2/3;
  }
}

/* BURGER MENU*/

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.hamburger {
  display: none;
  margin: 0;
}

.bar {
  width: 2rem;
  height: 0.25rem;
  margin: 0.25rem auto;
  transition: ease-out 250ms;
  background-color: #fff;
  border-radius: 4px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  margin: 1rem;
}

.nav_link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;

  padding: 0 0.5rem;
  transition: ease-in-out 250ms;
}

.nav_link:hover {
  color: #f29c2b;
  border-bottom: 0.25rem solid #f29c2b;
}

.nav_menu {
  position: fixed;
  left: -100%;
  top: 4rem;
  flex-direction: column;
  background-color: #0f0f0e;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  padding: 5rem 3rem 12rem 3rem;

  z-index: -10;
}
.nav_menu.open {
  left: 0;
}
.nav_item {
  margin: 2rem 0;
}
.hamburger {
  display: block;
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.hamburger:hover {
  margin: 0 0.25rem;
}
.hamburger:hover .bar {
  background-color: #f29c2b;
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
